<!--/-->
<template>
  <div>
    <!--    <div><NuxtLink to="/contents-c"> C</NuxtLink> </div>-->
    <NuxtLink to="/customer/list">
      <el-button size="large" :icon="Pointer">setCustomer</el-button>
    </NuxtLink>
    <el-button size="large" :icon="Pointer">setHistory</el-button>
    <el-button size="large" :icon="Search">getHistoriesByDate</el-button>
    <el-button size="large" :icon="Search">getHistoriesByInsurance</el-button>
    <el-button size="large" :icon="Search">getHistory</el-button>
    <el-button size="large" :icon="Pointer">putHistoryByPayComplete</el-button>
  </div>
</template>
<script setup lang="ts">
import {Pointer, Search} from '@element-plus/icons-vue'

</script>