<!--/customer/list-->
<template>
  <div>
    <div>
      <div><NuxtLink to="/">처음으로</NuxtLink></div>
      <h1>고객 리스트</h1>
      <el-button size="large" :icon="Pointer">고객관리</el-button>
      <el-button size="large" :icon="Search">진료기록관리</el-button>
    </div>
  </div>
</template>
<script setup lang="ts">
import { Pointer, Search } from '@element-plus/icons-vue'
</script>